<link href='http://fonts.googleapis.com/css?family=Mystery+Quest' rel='stylesheet' type='text/css'>
<div id="title">Questions for Magic 8-ball</div>
<div class="eight-ball">

<div id="form_fields">
<%= form_for @question do |f| %>
	<%= f.text_area :text, size: "20x5", placeholder: "ask a question" %><br>
	<%#= f.submit %>
<button type="submit" name="submit" id="button" class="css3button">ask, if you dare!</button>
<% end %>
<div id="questions">

</div>
</div>
</div>
<div id="past_questions">
<% @questions.reverse.each do |question| %>
    <div id="past_questions">
      <%= question.text %>
      <br>
      <%= question.answers.last.text %>
    </div>
  <% end %>
 </div>

