<link href='http://fonts.googleapis.com/css?family=Mystery+Quest' rel='stylesheet' type='text/css'>
<div id="container">
	<div id="title">Questions Answered</div>
	<% @answers.each do |a| %>
	<%= a.text %>
	<% end %>

</div>


<% @questions.each do |q| %>
	<div>
		<%= question.text %>
		<%= question.answers.last %>
	</div>
	<% end %>